<section class="sidebar">
    <div class="logo-details">
        <div class="logo">     
            <i class='bx bxl-dribbble'></i>
            <div class="logo_name">BstrApp</div>
        </div>
        <i class='bx bx-menu' id='btn' ></i>
    </div>
    <ul class="nav-links">
        <li>
            <div class="search-box">
                <i class='bx bx-search' ></i>
                <input type="text" placeholder="Search...">
            </div>
             <ul class="sub-menu blank">
                <li><a class="link_name" href="/">Search</a></li>
            </ul>
        </li>
        <li>
            <div class="icon-link">
                <%= link_to(clock_path, data: {"turbolinks" => false})  do %>
                    <i class='bx bx-grid-alt' ></i>
                    <span class="link_name">DashBoard</span>
                <% end %>
                <i class='bx bxs-chevron-down arrow' ></i>
            </div>
            <ul class="sub-menu">
                <li><a class="link_name" href="/">DashBoard</a></li>
                <li><a class="link_menu" href="/">HTML&CSS</a></li>
                <li><a class="link_menu" href="/">Swift</a></li>
                <li><a class="link_menu" href="/">JavaScript</a></li>
            </ul>
        </li>
        <li>
            <div class="icon-link">
                <%= link_to root_path do %>
                    <i class='bx bx-user' ></i>
                    <span class="link_name">User</span>
                <% end %>
                <i class='bx bxs-chevron-down arrow' ></i>
            </div>
            <ul class="sub-menu">
                <li><%= link_to "Category", root_path, class: "link_name" %></li>
                <li><%= link_to "About Me", root_path %></li>
                <li><%= link_to "Account", root_path %></li>
            </ul>
        </li>
        <li>
            <%= link_to(clock_path, data: {"turbolinks" => false}) do %>
                <i class='bx bx-time-five' ></i>
                <span class="link_name">Clock</span>
            <% end %>
            <ul class="sub-menu blank">
                <li><a class="link_name" href="/">Clock</a></li>
            </ul>
        </li>
        <li>
            <%= link_to(clock_path, data: {"turbolinks" => false})  do %>
                <i class='bx bx-pie-chart-alt' ></i>
                <span class="link_name">Analytics</span>
            <% end %>
            <ul class="sub-menu blank">
                <li><a class="link_name" href="/">Analytics</a></li>
            </ul>
        </li>
        <li>
            <%= link_to(clock_path, data: {"turbolinks" => false})  do %>
                <i class='bx bx-folder' ></i>
                <span class="link_name">File</span>
            <% end %>
            <ul class="sub-menu blank">
                <li><a class="link_name" href="/">File</a></li>
            </ul>
        </li>
        <li>
            <%= link_to(clock_path, data: {"turbolinks" => false})  do %>
                <i class='bx bx-folder' ></i>
                <span class="link_name">Order</span>
            <% end %>
            <ul class="sub-menu blank">
                <li><a class="link_name" href="/">Order</a></li>
            </ul>
        </li>
        <li>
            <%= link_to(clock_path, data: {"turbolinks" => false})  do %>
                <i class='bx bx-heart' ></i>
                <span class="link_name">Saved</span>
            <% end %>
            <ul class="sub-menu blank">
                <li><a class="link_name" href="/">Saved</a></li>
            </ul>
        </li>
        <li>
            <%= link_to(clock_path, data: {"turbolinks" => false})  do %>
                <i class='bx bx-cog' ></i>
                <span class="link_name">Setting</span>
            <% end %>
            <ul class="sub-menu blank">
                <li><a class="link_name" href="/">Setting</a></li>
            </ul>
        </li>
        <li>
            <div class="profile-details">
                <div class="profile-content">
                    <%= image_tag "image1.jpeg" %>
                </div>
                <div class="name-job">
                    <div class="profile_name">Satoru Baba</div>
                    <div class="job">GeekSalon Mentor</div>
                </div>
                <i class='bx bx-log-out' id="log_out" ></i>
            </div>
        </li>
    </ul>
</section>
<section class="home-section">
    <div class="first">
        <%= image_tag "bg.jpg", id: "bg" %>
        <%= image_tag "moon.png",  id: "moon" %>
        <%= image_tag "mountain.png", id: "mountain" %>
        <%= image_tag "road.png", id: "road" %>
        <h2 id="text">Welcome</h2>
    </div>
    <div class="second">
        <div class="wavy"></div>
    </div>
</section>
<script>
    // sidebar
    var arrow = document.querySelectorAll(".arrow");
    for(var i=0; i<arrow.length; i++){
        arrow[i].addEventListener("click", (e)=>{
            var arrowParent = e.target.parentElement.parentElement;
            console.log(arrowParent);
            arrowParent.classList.toggle("showMenu");
        });
    }
    var sidebar = document.querySelector(".sidebar");
    var sidebarBtn = document.querySelector(".bx-menu");
    var searchBtn = document.querySelector(".bx-search");
    sidebarBtn.addEventListener("click", ()=>{
        sidebar.classList.toggle("close");
    });
    searchBtn.addEventListener("click", ()=>{
        sidebar.classList.toggle("close");
    });
    // home-content
    var bg = document.getElementById("bg");
    var moon = document.getElementById("moon");
    var mountain = document.getElementById("mountain");
    var road = document.getElementById("road");
    var text = document.getElementById("text");
    
    window.addEventListener('scroll', function () {
        var value = window.scrollY;
        bg.style.top = value * 0.5 + 'px';
        moon.style.left = -value * 0.5 + 'px';
        mountain.style.top = -value * 0.15 + 'px';
        road.style.top = value * 0.15 + 'px';
        text.style.top = value * 1 + 'px';
    })
</script>
